.opinions__info 
	.opinions__info-item.opinions__info-item--op-1
		.opinions__img
			img(src="img/opinions-1.jpg", alt="")
		.opinions__txt
			p.name Екатерина Сычёва
			p.date 2014-2017
			.content 
				p Это замечательная студия)) Прежде всего, в каком бы состоянии души ты ни пришла на занятие, грустная, уставшая после работы, у тебя обязательно улучшится настроение)) 
				p Это замечательная студия)) Прежде всего, в каком бы состоянии души ты ни пришла на занятие, грустная, уставшая после работы, у тебя обязательно улучшится настроение)) 
			p.more.js-more читать далее
	.opinions__info-item.opinions__info-item--op-2
		.opinions__img
			img(src="img/opinions-2.jpg", alt="")
		.opinions__txt
			p.name Елена Сергеева
			p.date 2010-2017
			.content 
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam perspiciatis fuga sint porro sit, quasi, accusantium velit blanditiis illo nulla laborum aliquam consectetur deleniti saepe!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam perspiciatis fuga sint porro sit, quasi, accusantium velit blanditiis illo nulla laborum aliquam consectetur deleniti saepe!
			p.more.js-more читать далее
	.opinions__info-item.opinions__info-item--op-3
		.opinions__img
			img(src="img/opinions-3.jpg", alt="")
		.opinions__txt
			p.name Светлана Михайлова
			p.date 2010-2017
			.content 
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam perspiciatis fuga sint porro sit, quasi, accusantium velit blanditiis illo nulla laborum aliquam consectetur deleniti saepe!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam perspiciatis fuga sint porro sit, quasi, accusantium velit blanditiis illo nulla laborum aliquam consectetur deleniti saepe!
			p.more.js-more читать далее
	.opinions__info-item.opinions__info-item--op-4
		.opinions__img
			img(src="img/opinions-4.jpg", alt="")
		.opinions__txt
			p.name Василиса Петрова
			p.date 2010-2017
			.content 
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam perspiciatis fuga sint porro sit, quasi, accusantium velit blanditiis illo nulla laborum aliquam consectetur deleniti saepe!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam perspiciatis fuga sint porro sit, quasi, accusantium velit blanditiis illo nulla laborum aliquam consectetur deleniti saepe!
			p.more.js-more читать далее
	.opinions__info-item.opinions__info-item--op-5
		.opinions__img
			img(src="img/opinions-5.jpg", alt="")
		.opinions__txt
			p.name Матрена Иванова
			p.date 2010-2017
			.content 
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam perspiciatis fuga sint porro sit, quasi, accusantium velit blanditiis illo nulla laborum aliquam consectetur deleniti saepe!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam perspiciatis fuga sint porro sit, quasi, accusantium velit blanditiis illo nulla laborum aliquam consectetur deleniti saepe!
			p.more.js-more читать далее
	.opinions__info-item.opinions__info-item--op-6
		.opinions__img
			img(src="img/opinions-3.jpg", alt="")
		.opinions__txt
			p.name Матрена Иванова
			p.date 2010-2017
			.content 
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam perspiciatis fuga sint porro sit, quasi, accusantium velit blanditiis illo nulla laborum aliquam consectetur deleniti saepe!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam perspiciatis fuga sint porro sit, quasi, accusantium velit blanditiis illo nulla laborum aliquam consectetur deleniti saepe!
			p.more.js-more читать далее
	.opinions__info-item.opinions__info-item--op-7
		.opinions__img
			img(src="img/opinions-5.jpg", alt="")
		.opinions__txt
			p.name Матрена Иванова
			p.date 2010-2017
			.content 
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam perspiciatis fuga sint porro sit, quasi, accusantium velit blanditiis illo nulla laborum aliquam consectetur deleniti saepe!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam perspiciatis fuga sint porro sit, quasi, accusantium velit blanditiis illo nulla laborum aliquam consectetur deleniti saepe!
			p.more.js-more читать далее
.opinions__lnk
	img(src="img/opinions-2.jpg" data-img="op-2" alt="")
	img(src="img/opinions-3.jpg" data-img="op-3" alt="")
	img(src="img/opinions-4.jpg" data-img="op-4" alt="")
	img(src="img/opinions-5.jpg" data-img="op-5" alt="")
.opinions__more
	.opinions__btn.js-opinions-btn
	img(src="img/opinions-3.jpg" data-img="op-6" alt="")
	img(src="img/opinions-5.jpg" data-img="op-7" alt="")
