@font-face {
	font-family: 'bebas';
	src: url('../fonts/bebas.eot');
	src: url('../fonts/bebas.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bebas.woff2') format('woff2'),
		url('../fonts/bebas.woff') format('woff'),
		url('../fonts/bebas.ttf') format('truetype'),
		url('../fonts/bebas.svg#bebas') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	color: #1e1e1e;
	font: 16px/1.2 'PT Sans', sans-serif;
}
header,
main,
footer {
	display: block;
	margin: 0;
	padding: 0;
}
main {
	background-color: #dfdfdf;
	max-width: 1167px;
	margin: 0 auto;
	position: relative;
}
h1,
h2,
h3,
h4,
p {
	margin: 0;
	padding: 0;
}
h2 {
	font-size: 45px;
	line-height: 1;
	text-align: center;
	font-family: 'bebas', sasn-serif;
	margin-bottom: 67px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
h3 {
	font-size: 20px;
}
.wrapper {
	width: 892px;
	margin: 0 auto;
}

header {
	width: 1167px;
	margin: 0 auto;
	background: #dfdfdf url(../img/main.jpg) 50% 0 no-repeat;
	padding: 60px 0 145px;
	box-sizing: border-box;
}

.header-content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	height: 590px;
}

.header-top {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	height: 53px;
}
.logo {
	height: 100%;
}
.menu {
	ul {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		li {
			list-style: none;
			margin: 0 15px;
		}
		a {
			text-decoration: none;
			color: #1e1e1e;
		}
	}
}
.phone {
	font-weight: 700;
	a {
		text-decoration: none;
		color: #1e1e1e;
	}
}

.header-bottom {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
}

.slogan {
	position: relative;
	padding-left: 25px;
	width: 210px;
	box-sizing: border-box;
	&:before, 
	&:after {
		content: '';
		position: absolute;
		height: 100%;
		width: 1px;
		top: 0;
	}
	&:before {
		background-color: #464646;
		left: 0;
	}
	&:after {
		background-color: #a0a0a0;
		left: 1px;
	}
	strong {
		text-transform: uppercase;
		display: block;
		margin-bottom: 5px;
		font-size: 18px;
	}
}

.training-btn {
	cursor: pointer;
	padding: 20px 55px;
	border: 1px solid #c1456a;
	color: #c1456a;
	border-radius: 35px;
}

.soc-icons {
	width: 210px;
	text-align: right;
	padding-top: 30px;
	.ya-share2__badge {
		background-color: transparent;
	}
	span.ya-share2__icon {
		width: 28px;
		height: 28px;
		background: url(../img/soc-icons-sprite.png) no-repeat;
	}
	.ya-share2__item_service_facebook .ya-share2__icon {
		background-position: 0 0;
	}
	.ya-share2__item_service_vkontakte .ya-share2__icon {
		background-position: -36px 0;
	}
	.ya-share2__container_size_m .ya-share2__item {
		margin: 0 0 0 10px;
	}
}

.courses {
	position: relative;
	padding-top: 50px;
	box-sizing: border-box;
	margin-bottom: 135px;
	background: url(../img/courses-bg.png) 0 0 no-repeat;
	&__content {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-flow: row wrap;
	}
	&__col {
		width: 195px;
	}
	&__col:nth-child(2) {
		width: 377px;
		margin: 0 62px;
	}
	&__item {
		margin-bottom: 60px;
		display: block;
		text-decoration: none;
		img {
			margin-bottom: 15px;
		}
		h3 {
			margin-bottom: 5px;
			color: #1e1e1e;
		}
		p {
			font-size: 14px;
			margin-bottom: 4px;
			color: #1e1e1e;
		}
	}
}

.trainers {
	position: relative;
	overflow: hidden;
	margin-bottom: 160px;
	background: url(../img/trainers-bg.png) 0 0 no-repeat;
	&__item {
		float: left;
		width: 76px;
		margin: 0 0 36px 36px;
		display: block;
		text-decoration: none;
		img {
			margin-bottom: 7px;
		}
		p {
			font-size: 14px;
			color: #1e1e1e;
		}
	}
	&__item:nth-child(1) {
		width: 440px;
		margin-left: 0;
		p {
			width: 80px;
		}
	}
}

.opinions {
	padding: 107px 0 192px;
	position: relative;
	background-color: #fff;
	&:before {
		content: '';
		position: absolute;
		width: 330px;
		height: 180px;
		left: 0;
		top: 53px;
		background: url(../img/opinions-bg1.png) 0 0 no-repeat;
	}
	&:after {
		content: '';
		position: absolute;
		width: 150px;
		height: 110px;
		right: 0;
		bottom: 150px;
		background: url(../img/opinions-bg2.png) 0 0 no-repeat;
	}
	&__slides {
		position: relative;
		height: 220px;
	}
	&__menu {
		margin-bottom: 50px;
		ul {
			margin: 0;
			padding: 0;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: center;
			flex-flow: row wrap;
		}
		li {
			list-style: none;
			margin: 0 10px;
			font-size: 14px;
			cursor: pointer;
			&.active {
				border-bottom: 2px solid #e5437c;
			}
		}
	}
	&__item {
		position: absolute;
		width: 100%;
		display: none;
		flex-flow: row wrap;
	}
	&__item:nth-child(1) {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	&__info {
		width: 560px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		position: relative;
	}
	&__info-item {
		position: absolute;
		display: none;
	}
	&__info-item:nth-child(1) {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	&__img {
		margin-right: 23px;
	}
	&__txt {
		padding-right: 20px;
		.name {
			font-size: 18px;
		}
		.date {
			font-size: 13px;
		}
		.content {
			margin: 10px 0 5px;
			line-height: 1.4;
			font-size: 14px;
			height: 80px;
			overflow: hidden;
		}
		.more {
			color: #e5437c;
			font-size: 9px;
			cursor: pointer;
			text-transform: uppercase;
		}
	}
	&__lnk {
		width: 230px;
		img {
			margin: 0 20px 20px 0;
			cursor: pointer;
		}
	}
	&__more {
		width: 95px;
		img {
			margin: 0 0 20px 0;
			display: none;
			cursor: pointer;
		}
	}
	&__btn {
		background-color: #b2b2b2;
		position: absolute;
		height: 95px;
		width: 95px;
		cursor: pointer;
		&:before {
			content: '...';
			position: absolute;
			color: #fff;
			font-size: 50px;
			left: 30px;
			top: 5px;
		}
	}
}

.about {
	padding: 110px 0 200px;
	&__content {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	&__img {
		width: 485px;
	}
	&__txt {
		position: absolute;
		padding: 50px 0 0 50px;
		strong {
			display: block;
			font-size: 18px;
			margin-bottom: 8px;
			color: #fff;
		}
		p {
			color: #fff;
			width: 120px;
			font-size: 14px;
			line-height: 1.5;
		}
	}
	&__info {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-flow: row wrap;
		margin-left: 65px;
		width: 770px;
	}
	&__item {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			width: 60px;
			height: 60px;
			top: 0;
			background: url(../img/sprite.png) no-repeat;
		}
		h4 {
			font-size: 18px;
			margin-bottom: 7px;
		}
		p {
			font-size: 14px;
			line-height: 1.5;
		}
		&--1 {
			width: 160px;
			margin-right: 50px;
			padding-top: 103px;
			&:before {
				top: 34px;
				left: -4px;
				background-position: 0 0;
			}
		}
		&--2 {
			width: 130px;
			padding-top: 103px;
			&:before {
				top: 34px;
				left: 0;
				background-position: 0 -58px;
			}
		}
		&--3 {
			width: 160px;
			margin-right: 50px;
			padding-top: 80px;
			&:before {
				top: 4px;
				left: -4px;
				background-position: 0 -120px;
			}
		}
		&--4 {
			width: 130px;
			padding-top: 80px;
			&:before {
				top: 4px;
				left: 0;
				background-position: 0 -178px;
			}
		}
	}
}

.contacts {
	padding: 106px 0 196px;
	position: relative;
	background: #fff url(../img/contacts-bg.png) 0 0 no-repeat;
	&:before {
		content: '';
		position: absolute;
		width: 300px;
		height: 230px;
		top: -5px;
		left: 0;
	}
	img {
		vertical-align: top;
	}
	&__txt {
		position: absolute;
		padding: 40px 0 0 40px;
		color: #fff;
		line-height: 1.6;
		strong {
			font-size: 15px;
		}
		p {
			font-size: 14px;
		}
	}
}
.footer {
	background-color: #333;
	width: 1167px;
	margin: 0 auto;
	padding: 90px 0 100px;
	color: #fff;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		width: 363px;
		height: 440px;
		background: url(../img/footer-bg.png) 0 0 no-repeat;
		top: -300px;
		right: 0;
	}
	&__content {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-flow: row nowrap;
	}
	&__logo {
		margin-right: 110px;
	}
	&__menu {
		padding-top: 15px;
		width: 190px;
		ul {
			padding: 0;
			margin: 0;
		}
		li {
			list-style: none;
		}
		a {
			color: #fff;
			text-decoration: none;
			font-size: 14px;
		}
	}
	&__addr {
		padding-top: 17px;
		font-size: 14px;
		width: 210px;
		p {
			line-height: 1.4;
		}
	}
	&__copyright {
		width: 290px;
		text-align: right;
		font-size: 14px;
		padding-top: 15px;
	}
}

